<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="33464d60-1b2b-4477-af63-8290c52ffb1f" Alias="aboutPage" Level="2">
  <Info>
    <Name>About Page</Name>
    <Icon>icon-user color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="a6a57996-2a79-4a74-9400-c4bcaa705c37">bannerProperties</Composition>
      <Composition Key="ebffa791-e77b-4424-8cc1-3c47892ed45c">sEOProperties</Composition>
      <Composition Key="d4d3b344-eb3e-4be9-9770-da160a5a5c0b">taggingProperties</Composition>
      <Composition Key="72cf1f9f-2d7d-43a7-91de-1e9c584b624a">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>AboutPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b4d36811-68fb-4a4d-987f-5d3f6d38e8dd">AboutPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ba70eba4-cfb5-4543-a848-3651ec4a1775" SortOrder="0">employment</ContentType>
    <ContentType Key="34aca22d-5a10-4799-b9db-9253e4d950bd" SortOrder="1">skills</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>fa2ea10f-390b-4df3-8ace-e32c10d7827a</Key>
      <Name>Employment History</Name>
      <Alias>employmentHistory</Alias>
      <Definition>2749ea70-438d-48a7-9831-a74d98576893</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="employmentHistory">Employment History</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>62d9c38a-9728-4427-9644-ed6b2884b3d0</Key>
      <Name>Employment Title</Name>
      <Alias>employmentTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="employmentHistory">Employment History</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>80ec578b-5d4d-4ec4-bec4-ceb7a2a0b78d</Key>
      <Name>Skills</Name>
      <Alias>skills</Alias>
      <Definition>733ef426-f9cb-4467-8cb0-296b137883c0</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select skill group(s) you would like to display.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="skills">Skills</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>233060bc-59e9-4f0a-bf8c-1f9c6de77c86</Key>
      <Name>Skills Title</Name>
      <Alias>skillsTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="skills">Skills</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>74a66390-a188-4d0a-a0e3-b4447aefffa2</Key>
      <Caption>Employment History</Caption>
      <Alias>employmentHistory</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
    <Tab>
      <Key>d99ac000-79e6-49af-bb17-b2d860d93345</Key>
      <Caption>Skills</Caption>
      <Alias>skills</Alias>
      <Type>Tab</Type>
      <SortOrder>20</SortOrder>
    </Tab>
  </Tabs>
</ContentType>