<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="db985f20-bd47-4d46-879b-4a8f4544d601" Alias="blogListing" Level="2">
  <Info>
    <Name>Blog Listing</Name>
    <Icon>icon-ordered-list color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="a6a57996-2a79-4a74-9400-c4bcaa705c37">bannerProperties</Composition>
    </Compositions>
    <DefaultTemplate>BlogListing</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="37815733-e791-4905-8b64-7727eae3aaf7">BlogListing</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="5af3fdd2-d23e-4426-bd18-348187c806fd" SortOrder="0">blogPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>