<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5af3fdd2-d23e-4426-bd18-348187c806fd" Alias="blogPage" Level="2">
  <Info>
    <Name>Blog Page</Name>
    <Icon>icon-newspaper-alt color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="c8e779fe-bf48-4c27-b149-65aed686d6d1">contentProperties</Composition>
      <Composition Key="9a695f53-9894-47b6-9016-53bccd74bd2d">listingProperties</Composition>
      <Composition Key="ebffa791-e77b-4424-8cc1-3c47892ed45c">sEOProperties</Composition>
      <Composition Key="390b9370-3e6b-4b25-9a02-897c81225573">sidebarProperties</Composition>
      <Composition Key="d4d3b344-eb3e-4be9-9770-da160a5a5c0b">taggingProperties</Composition>
      <Composition Key="72cf1f9f-2d7d-43a7-91de-1e9c584b624a">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>BlogPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2eb2cf57-7325-40a6-baf3-88996b356b70">BlogPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1056da26-f5d4-44a4-8e9d-2f8eed217576</Key>
      <Name>Blog Author</Name>
      <Alias>blogAuthor</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="blogInformation">Blog information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fbc17933-d0f8-4742-9f85-30ba69818ff6</Key>
      <Name>Blog Image</Name>
      <Alias>blogImage</Alias>
      <Definition>a0521cbe-356a-4437-a31c-f39bafc1db27</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>15</SortOrder>
      <Tab Alias="blogInformation">Blog information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>11804919-fad6-4846-b391-083394f51924</Key>
      <Name>Blog Subtitle</Name>
      <Alias>blogSubtitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="blogInformation">Blog information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bce2e8e3-a055-4c96-96c0-70f2baf06bf6</Key>
      <Name>Blog Title</Name>
      <Alias>blogTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="blogInformation">Blog information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>89500c53-39ed-4e2b-83af-1ea8f4162b56</Key>
      <Name>Related Blogs</Name>
      <Alias>relatedBlogs</Alias>
      <Definition>14a35384-9639-4cec-8277-f9258c5d5971</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="sidebar">Sidebar</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2940a57b-b0e0-47b1-8260-107ac8141e88</Key>
      <Caption>Blog information</Caption>
      <Alias>blogInformation</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>f79e2416-7931-41a0-8457-1e19ab941bee</Key>
      <Caption>Sidebar</Caption>
      <Alias>sidebar</Alias>
      <Type>Tab</Type>
      <SortOrder>15</SortOrder>
    </Tab>
  </Tabs>
</ContentType>