<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="eed5c215-f27f-4406-9f8e-d95c2aabd15e" Alias="contributorListing" Level="2">
  <Info>
    <Name>Contributor Listing</Name>
    <Icon>icon-users-alt color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="5add92ee-b7f6-42fb-bfb6-d49c9b6b1543" SortOrder="0">contributor</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>