<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e87085cb-2c0d-4936-abff-266cf1b34a75" Alias="errorPage404" Level="2">
  <Info>
    <Name>Error Page 404</Name>
    <Icon>icon-application-error color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="a6a57996-2a79-4a74-9400-c4bcaa705c37">bannerProperties</Composition>
      <Composition Key="c8e779fe-bf48-4c27-b149-65aed686d6d1">contentProperties</Composition>
    </Compositions>
    <DefaultTemplate>ErrorPage404</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d4991427-f40b-4cee-8178-02f9a1b33b30">ErrorPage404</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a80ef706-36d9-4e5c-8652-c20b599c21a2</Key>
      <Name>Links</Name>
      <Alias>links</Alias>
      <Definition>a80d0ebf-e3e4-4498-a012-6a1e5d54f632</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>15</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>727ae072-1b1e-4bc7-974d-e827821716ad</Key>
      <Name>Links Subtitle</Name>
      <Alias>linksSubtitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>285c5184-a3da-46d2-8849-8dabc407f8d2</Key>
      <Name>Links Title</Name>
      <Alias>linksTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add a title for your redirect links.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>db3693f1-45fa-4f20-9e7f-44299a5c916c</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>