<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0606ca23-5b4f-4a34-8f7a-d702054ceccd" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="a6a57996-2a79-4a74-9400-c4bcaa705c37">bannerProperties</Composition>
      <Composition Key="c8e779fe-bf48-4c27-b149-65aed686d6d1">contentProperties</Composition>
      <Composition Key="ebffa791-e77b-4424-8cc1-3c47892ed45c">sEOProperties</Composition>
      <Composition Key="d4d3b344-eb3e-4be9-9770-da160a5a5c0b">taggingProperties</Composition>
      <Composition Key="72cf1f9f-2d7d-43a7-91de-1e9c584b624a">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8525fbfa-ea23-4f0f-b394-c34dc4732723">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6184715e-0c82-46f8-8372-94814d80e922" SortOrder="0">siteSettings</ContentType>
    <ContentType Key="33464d60-1b2b-4477-af63-8290c52ffb1f" SortOrder="1">aboutPage</ContentType>
    <ContentType Key="db985f20-bd47-4d46-879b-4a8f4544d601" SortOrder="2">blogListing</ContentType>
    <ContentType Key="3dcc49fb-343b-46c5-b4a1-085d3fcbaa5a" SortOrder="3">searchPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>837bb48f-057f-4671-83ad-67f47465f437</Key>
      <Name>All Blogs Link</Name>
      <Alias>allBlogsLink</Alias>
      <Definition>b97d7756-cf08-43b9-9380-aa76020201b7</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The link to your blog listing page.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="content/featuredBlog">Featured blog</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a1a8c312-f879-44d1-b88e-6af3023e66cf</Key>
      <Name>Banner Image</Name>
      <Alias>bannerImage</Alias>
      <Definition>15c66c3a-ce14-4408-a1d1-e072a99cd841</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="banner">Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e8a6de79-1b76-4333-acf4-6044d1a5e338</Key>
      <Name>Featured Blogs</Name>
      <Alias>featuredBlogs</Alias>
      <Definition>14a35384-9639-4cec-8277-f9258c5d5971</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select up to four featured blogs.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content/featuredBlog">Featured blog</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0ea80138-af11-41b0-a77b-b264be773442</Key>
      <Name>Featured Blogs Title</Name>
      <Alias>featuredBlogsTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/featuredBlog">Featured blog</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a151473b-4deb-4823-b570-fdd545a96a2e</Key>
      <Caption>Featured blog</Caption>
      <Alias>content/featuredBlog</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>b07620a0-3f02-4f3e-adf0-b16677bda678</Key>
      <Caption>Banner</Caption>
      <Alias>banner</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>