<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="441336c1-ab39-4452-943c-0447cf10f01a" Alias="pageTags" Level="2">
  <Info>
    <Name>Page Tags</Name>
    <Icon>icon-tags color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="f630d6f7-daac-4961-8ede-102ca5713bfa" SortOrder="0">pageTag</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>