<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="43c6c0e7-c781-4541-9819-bcc4a4d5c670" Alias="projectListing" Level="2">
  <Info>
    <Name>Project Listing</Name>
    <Icon>icon-ordered-list color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="a6a57996-2a79-4a74-9400-c4bcaa705c37">bannerProperties</Composition>
      <Composition Key="ebffa791-e77b-4424-8cc1-3c47892ed45c">sEOProperties</Composition>
      <Composition Key="d4d3b344-eb3e-4be9-9770-da160a5a5c0b">taggingProperties</Composition>
      <Composition Key="72cf1f9f-2d7d-43a7-91de-1e9c584b624a">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ProjectListing</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b9e9ba30-108d-4d9e-b296-82c327e03af3">ProjectListing</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d05da590-2a81-4703-882f-047afd501f96" SortOrder="0">projectPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>