<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d05da590-2a81-4703-882f-047afd501f96" Alias="projectPage" Level="2">
  <Info>
    <Name>Project Page</Name>
    <Icon>icon-brick color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="c8e779fe-bf48-4c27-b149-65aed686d6d1">contentProperties</Composition>
      <Composition Key="9a695f53-9894-47b6-9016-53bccd74bd2d">listingProperties</Composition>
      <Composition Key="ebffa791-e77b-4424-8cc1-3c47892ed45c">sEOProperties</Composition>
      <Composition Key="390b9370-3e6b-4b25-9a02-897c81225573">sidebarProperties</Composition>
      <Composition Key="d4d3b344-eb3e-4be9-9770-da160a5a5c0b">taggingProperties</Composition>
      <Composition Key="72cf1f9f-2d7d-43a7-91de-1e9c584b624a">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ProjectPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0d775d74-efa1-40e5-ac44-6502c00beceb">ProjectPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>cfe88a9f-802b-4177-a068-1a7f81fc879e</Key>
      <Name>Project Contributors</Name>
      <Alias>projectContributors</Alias>
      <Definition>013136e6-0471-406f-8aaa-523c8d6818a2</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="projectInformation">Project Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>06aa9a5f-cec4-427d-9abb-4d75d34ca759</Key>
      <Name>Project Creator</Name>
      <Alias>projectCreator</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="projectInformation">Project Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1b84a3e7-3352-465b-8789-69cbb25c0c53</Key>
      <Name>Project Image</Name>
      <Alias>projectImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="projectInformation">Project Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ed978693-ad19-42b1-a30d-e4f021cace18</Key>
      <Name>Project Subtitle</Name>
      <Alias>projectSubtitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="projectInformation">Project Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9e68e853-5568-41a6-9994-c356e13fd158</Key>
      <Name>Project Title</Name>
      <Alias>projectTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the project's name.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="projectInformation">Project Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>054ecccd-83c1-40e1-bc5f-e4a4aea33811</Key>
      <Name>Related Projects</Name>
      <Alias>relatedProjects</Alias>
      <Definition>aba322f1-d49a-47bf-a73e-067c6d00a1be</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="sidebar">Sidebar</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>59c000e3-e902-4888-9176-b679cc60a514</Key>
      <Caption>Project Information</Caption>
      <Alias>projectInformation</Alias>
      <Type>Tab</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
    <Tab>
      <Key>9de68ca9-3aea-43ae-a46a-99d931a79469</Key>
      <Caption>Sidebar</Caption>
      <Alias>sidebar</Alias>
      <Type>Tab</Type>
      <SortOrder>15</SortOrder>
    </Tab>
  </Tabs>
</ContentType>