<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6184715e-0c82-46f8-8372-94814d80e922" Alias="siteSettings" Level="2">
  <Info>
    <Name>Site Settings</Name>
    <Icon>icon-settings color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components</Folder>
    <Compositions>
      <Composition Key="630238a7-c8dd-4b89-8228-a5f430faf281">siteSettingsProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="441336c1-ab39-4452-943c-0447cf10f01a" SortOrder="0">pageTags</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>49610e42-89b0-4002-8793-f44539fedbd1</Key>
      <Name>Email Link</Name>
      <Alias>emailLink</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter only your email address.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3125c2cf-c85a-46b2-b4a9-caa1f05a1849</Key>
      <Name>Main Navigation</Name>
      <Alias>mainNavigation</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select links for your main navigation.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="navigation">Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>439abebb-37b7-4c20-b282-1943ef49540e</Key>
      <Name>Mastadon Link</Name>
      <Alias>mastadonLink</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>15</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>74e0ddc7-c16f-4e58-a9df-ff1b840030fa</Key>
      <Name>Search Page</Name>
      <Alias>searchPage</Alias>
      <Definition>b97d7756-cf08-43b9-9380-aa76020201b7</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="siteSettings">Site Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>625e6ada-6707-4e37-98d5-4f1ce58912e1</Key>
      <Name>Twitter Link</Name>
      <Alias>twitterLink</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3aae0e7a-6dc4-425e-9568-85f49e35ba75</Key>
      <Caption>Footer</Caption>
      <Alias>footer</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
    <Tab>
      <Key>a267d161-abe8-4e44-829c-e1b2c5d39179</Key>
      <Caption>Site Settings</Caption>
      <Alias>siteSettings</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>dc819f52-5f0b-4f8e-b39e-d4a0c7138f64</Key>
      <Caption>Navigation</Caption>
      <Alias>navigation</Alias>
      <Type>Tab</Type>
      <SortOrder>5</SortOrder>
    </Tab>
  </Tabs>
</ContentType>