<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="34aca22d-5a10-4799-b9db-9253e4d950bd" Alias="skills" Level="2">
  <Info>
    <Name>Skills</Name>
    <Icon>icon-thumbnail-list color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="02954e16-1793-43ff-b1c0-005c66553700" SortOrder="0">skillGroup</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>