<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="02954e16-1793-43ff-b1c0-005c66553700" Alias="skillGroup" Level="2">
  <Info>
    <Name>Skill Group</Name>
    <Icon>icon-thumbnails-small color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="935594ce-c13a-4cd0-b288-2a30dd4e9184" SortOrder="0">skill</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>