@use '../utils/variables' as var;

body {
    &.dark-mode {
        background: var.$dark-bg;
        color: var.$white;

        .header,
        .role-title,
        .listing-title,
        .footer {
            a {
                color: var.$white;
                text-decoration-color: var.$accent;

                &:hover,
                &:focus {
                    color: var.$accent;
                }
            }
        }

        .button,
        .button--back {
            color: var.$white;

            &:hover,
            &:focus {
                color: var.$accent;
            }
        }

        .listing {
            &-content {
                color: rgba(var.$white, 0.8);
            }
        }
    }
}