@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var siteSettings = Model.GetSiteSettings();
}

<header class="header __animatedown">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                @if (!string.IsNullOrWhiteSpace(siteSettings?.SiteName) || !string.IsNullOrWhiteSpace(siteSettings?.SiteSubtitle))
                {
                    <div class="header-logo">
                        @if (!string.IsNullOrWhiteSpace(siteSettings?.SiteName))
                        {
                            <a href="/" class="header-title">@siteSettings.SiteName</a>
                        }

                        @if (!string.IsNullOrWhiteSpace(siteSettings?.SiteSubtitle))
                        {
                            <p class="header-subtitle">@siteSettings.SiteSubtitle</p>
                        }
                    </div>
                }
            </div><!-- col -->
            <div class="col-lg-8 d-flex justify-content-lg-end align-items-center">
                @await Html.PartialAsync("navigation")
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
</header>