@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var siteSettings = Model.GetSiteSettings();
}

<nav class="nav">
    @if (siteSettings.MainNavigation.Any())
    {   
        <ul class="nav-list">
            @foreach (var item in siteSettings.MainNavigation)
            {
                <li class="nav-item">
                    <a href="@item.Url">@item.Name</a>
                </li>
            }

            <li>
                <button>
                    Dark mode
                </button>
            </li>
        </ul>
    }
</nav>