@use '../utils/variables' as var;
@use '../utils/mixins' as mix;
@use '../components/richtext';

.banner {
    @include mix.sectionStyles;
    
    &-content {
        @extend .richtext;

        @media (min-width: var.$lg) {
            padding-right: 1.6rem;
        }
    }
    
    &--home {
        @extend .banner;

        .banner {
            &-image {
                margin-top: 2.4rem;
                @include mix.aspectRatio(4, 3);
                @include mix.imageDecoration;
                @include mix.imageWrap;

                @media (min-width: var.$lg) {
                    margin-top: 0;
                }
            }
        }
    }

    &--error {
        @extend .banner;
        margin-bottom: 2.4rem;
    }
}