@use '../utils/variables' as var;
@use '../utils/mixins' as mix;

.featured {
    @include mix.sectionStyles;

    &-header {
        margin-bottom: 2.4rem;

        @media (min-width: var.$lg) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2.4rem;
        }
    }

    &--blogs,
    &--projects {
        @extend .featured;
    }

    &--projects {
        .featured {
            &-list {

                @media (min-width: var.$lg) {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 2.4rem;
                }
            }
        }
    }
}