@use '../utils/variables' as var;
@use '../utils/mixins' as mix;

.featured {
    @include mix.sectionSpacing;

    &-header {
        @media (min-width: var.$lg) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2.4rem;
            margin-bottom: 2.4rem;
        }
    }

    &--blogs {
        @extend .featured;
    }
}