@use '../utils/variables' as var;
@use '../utils/mixins' as mix;

.footer {
    overflow: hidden;
    
    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2.4rem 0;
    }

    &-socials {
        display: flex;
        justify-content: center;
        gap: 1.6rem;

        &+.footer-copyright {
            margin-top: 1.6rem;
        }

        &-icon {
            background: var.$accent;
            border-radius: var.$border-radius;
            padding: 1.2rem;
            transition: all var.$transition-fast;
            @include mix.setSVGStyles($width: 2.4rem, $height: 2.4rem);

            &:hover,
            &:focus {
                transform: translateY(-.8rem);
                background: darken(var.$accent, 10%);
            }
        }
    }

    &-copyright {
        font-size: 2rem;
        font-weight: var.$font-medium;
    }
}