@inherits UmbracoViewPage<ProjectListing>
@{
    Layout = "Master.cshtml";

    IEnumerable<ProjectPage> projects = Model.Children.OfType<ProjectPage>().Where(x => x.IsPublished());
}

@await Html.PartialAsync("components/banner", Model)

<section class="list--projects">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="visually-hidden">All projects</h2>

                <ul class="list-wrap">
                    @foreach (ProjectPage project in projects)
                    {
                        @(await Html.PartialAsync("listing/projectListingCard", project))
                    }
                </ul>
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
</section>