@using Sawyl.Models.ContentModels;
@inherits UmbracoViewPage<SearchPageContentModel>
@{
    Layout = "Master.cshtml";
}

<section class="search-results __animateup">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="search-results-wrap">
                    <aside class="search-results-sidebar">
                        <p>Sidebar</p>
                    </aside>

                    <div class="search-results-content">
                        @if (Model.SearchResponse.HasResults)
                        {
                            <ul>
                                @foreach(var item in Model.SearchResponse.SearchResults)
                                {
                                    var contentItem = Umbraco.Content(item.Id);
                                    <li>
                                        <a href="@contentItem.Url()">@contentItem.Name</a>
                                    </li>
                                }
                            </ul>
                        }
                        else
                        {
                            <p>No results found</p>
                        }
                    </div>
                </div>
            </div>
        </div><!-- row -->
    </div><!-- container -->
</section>