@using Sawyl.Models.ContentModels;
@inherits UmbracoViewPage<SearchPageContentModel>
@{
    Layout = "Master.cshtml";

    var blogPages = Model.SearchResponse.SearchResults
    .Select(x => Umbraco.Content(x.Id))
    .Where(contentItem => contentItem != null && contentItem.GetType() == typeof(BlogPage));

    var projectPages = Model.SearchResponse.SearchResults
    .Select(x => Umbraco.Content(x.Id))
    .Where(contentItem => contentItem != null && contentItem.GetType() == typeof(ProjectPage));

    var otherPages = Model.SearchResponse.SearchResults
    .Select(x => Umbraco.Content(x.Id))
    .Where(contentItem => contentItem != null
        && contentItem.GetType() != typeof(BlogPage)
        && contentItem.GetType() != typeof(ProjectPage));
}

@await Html.PartialAsync("components/banner", Model)

<section class="search-results">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="search-results-wrap">
                    @if (Model.SearchResponse.TotalResultCount > 0)
                    {
                        <aside class="search-results-sidebar __animateleft">
                            <h3 class="h4">Page Types</h3>

                            <ul class="search-results-sidebar-list">
                                @if (blogPages.Count() > 0)
                                {
                                    <li>
                                        <a href="#blogResults">Blogs:</a>
                                        <p>@blogPages.Count()</p>
                                    </li>
                                }

                                @if (projectPages.Count() > 0)
                                {
                                    <li>
                                        <a href="#projectResults">Projects:</a>
                                        <p>@projectPages.Count()</p>
                                    </li>
                                }

                                @if (otherPages.Count() > 0)
                                {
                                    <li>
                                        <a href="#otherResults">Misc:</a>
                                        <p>@otherPages.Count()</p>
                                    </li>
                                }
                            </ul>
                        </aside>
                    }

                    <div class="search-results-content">
                        @if (Model.SearchResponse.HasResults)
                        {
                            @if (blogPages.Count() > 0)
                            {
                                <div id="blogResults" class="search-results-wrap--results __animateup">
                                    <h3 class="h4">Blogs</h3>
                                    <ul>
                                        @foreach (var blogPage in blogPages)
                                        {
                                            @await Html.PartialAsync("listing/searchListingCard", blogPage)
                                        }
                                    </ul>
                                </div>
                            }

                            @if (projectPages.Count() > 0)
                            {
                                <div id="projectResults" class="search-results-wrap--results __animateup">
                                    <h3 class="h4">Projects</h3>
                                    <ul>
                                        @foreach (ProjectPage projectPage in projectPages)
                                        {
                                            @await Html.PartialAsync("listing/searchListingCard", projectPage)
                                        }
                                    </ul>
                                </div>
                            }

                            @if (otherPages.Count() > 0)
                            {
                                <div id="otherResults" class="search-results-wrap--results __animateup">
                                    <h3 class="h4">Misc Pages</h3>
                                    <ul>
                                        @foreach (IPublishedContent otherPage in otherPages)
                                        {
                                            @await Html.PartialAsync("listing/searchListingCard", otherPage)
                                        }
                                    </ul>
                                </div>
                            }
                        }
                        else
                        {
                            <h3 class="search-results-none">No results found</h3>
                        }
                    </div>
                </div>
            </div>
        </div><!-- row -->
    </div><!-- container -->
</section>