@use 'sass:math';
@use './variables' as var;

// images
@mixin aspectRatio($width, $height) {
    aspect-ratio: math.div($width, $height);
}

@mixin imageDecoration() {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 1.6rem;
        background: var.$accent;
        animation-name: imageDecorationSlide;
        animation-timing-function: cubic-bezier(0.175, 1.5, 0.32, 1.275);
        animation-duration: var.$transition-slow;
        animation-fill-mode: forwards;
        animation-delay: var.$transition-slow;
        z-index: -1;
    }
}

@keyframes imageDecorationSlide {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(.8rem, .8rem);
    }
}

// svgs
@mixin setSVGStyles($width: 7.2rem, $height: 7.2rem, $color: var.$white) {
    svg {
        width: $width;
        height: $height;
        fill: $color;
    }
}

// util classes
@mixin menuItemStyles {
    font-weight: var.$font-medium;
    color: var.$black;
    text-underline-offset: 3px;
    transition: all 0s;

    &:hover,
    &:focus {
        color: var.$accent;
        text-decoration: underline;
        text-decoration-color: var.$accent;
    }
}