<?xml version="1.0" encoding="utf-8"?>
<DataType Key="15c66c3a-ce14-4408-a1d1-e072a99cd841" Alias="[Image Media Picker] Homepage banner image" Level="2">
  <Info>
    <Name>[Image Media Picker] Homepage banner image</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "homepageBannerImageLarge",
      "height": 395,
      "label": "HomepageBannerImageLarge",
      "width": 525
    },
    {
      "alias": "homepageBannerImage",
      "height": 540,
      "label": "HomepageBannerImage",
      "width": 720
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>