<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a0521cbe-356a-4437-a31c-f39bafc1db27" Alias="[Image Media Picker] - Blog Image" Level="2">
  <Info>
    <Name>[Image Media Picker] - Blog Image</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "blogListingMobile",
      "height": 640,
      "label": "BlogListingMobile",
      "width": 720
    },
    {
      "alias": "blogListingDesktop",
      "height": 215,
      "label": "BlogListingDesktop",
      "width": 240
    },
    {
      "alias": "blogImage",
      "height": 530,
      "label": "BlogImage",
      "width": 1320
    },
    {
      "alias": "blogImageMobile",
      "height": 375,
      "label": "BlogImageMobile",
      "width": 375
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>