<?xml version="1.0" encoding="utf-8"?>
<DataType Key="733ef426-f9cb-4467-8cb0-296b137883c0" Alias="[MNTP] Skills Group Picker" Level="1">
  <Info>
    <Name>[MNTP] Skills Group Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "skillGroup",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": {
      "originAlias": "Root",
      "originKey": null,
      "querySteps": [
        {
          "alias": "NearestDescendantOrSelf",
          "anyOfDocTypeKeys": [
            "34aca22d-5a10-4799-b9db-9253e4d950bd"
          ]
        }
      ]
    },
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>