<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a80d0ebf-e3e4-4498-a012-6a1e5d54f632" Alias="[MNTP] Error Page 404 - Links" Level="1">
  <Info>
    <Name>[MNTP] Error Page 404 - Links</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "aboutPage,blogListing,blogPage,homePage,projectListing,projectPage",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": {
      "originAlias": "ByKey",
      "originKey": "ff72ebd9-6e84-4163-aaa8-19b3279cbc36",
      "querySteps": []
    },
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>