<?xml version="1.0" encoding="utf-8"?>
<DataType Key="013136e6-0471-406f-8aaa-523c8d6818a2" Alias="[MNTP] Contributors" Level="2">
  <Info>
    <Name>[MNTP] Contributors</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "contributor",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": {
      "originAlias": "ByKey",
      "originKey": "ff72ebd9-6e84-4163-aaa8-19b3279cbc36",
      "querySteps": [
        {
          "alias": "NearestDescendantOrSelf",
          "anyOfDocTypeKeys": [
            "eed5c215-f27f-4406-9f8e-d95c2aabd15e"
          ]
        }
      ]
    },
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>