<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aba322f1-d49a-47bf-a73e-067c6d00a1be" Alias="[MNTP] Featured/Related Projects" Level="2">
  <Info>
    <Name>[MNTP] Featured/Related Projects</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "projectPage",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": {
      "originAlias": "ByKey",
      "originKey": "ff72ebd9-6e84-4163-aaa8-19b3279cbc36",
      "querySteps": [
        {
          "alias": "NearestDescendantOrSelf",
          "anyOfDocTypeKeys": [
            "43c6c0e7-c781-4541-9819-bcc4a4d5c670"
          ]
        }
      ]
    },
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>