<?xml version="1.0" encoding="utf-8"?>
<DataType Key="14a35384-9639-4cec-8277-f9258c5d5971" Alias="[MNTP] Related/Featured blogs" Level="2">
  <Info>
    <Name>[MNTP] Related/Featured blogs</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "blogPage",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 4,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": {
      "originAlias": "Root",
      "originKey": null,
      "querySteps": [
        {
          "alias": "NearestDescendantOrSelf",
          "anyOfDocTypeKeys": [
            "db985f20-bd47-4d46-879b-4a8f4544d601"
          ]
        }
      ]
    },
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>