<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bee6fbbb-e462-4c0e-87bb-bce9c58d7b5b" Alias="Project Page - Project Contributors - Block List" Level="1">
  <Info>
    <Name>Project Page - Project Contributors - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "1c6afaef-d168-424a-a16a-f02ff27828f1",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ $index }}: {{ $contributorName }}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>