@use '../utils/variables' as var;
@use '../utils/mixins' as mix;

.search-results {
    &-wrap {
        @include mix.sectionStyles;

        &:has(aside) {
            display: grid;
            grid-template-columns: 100%;
            gap: 2.4rem;

            @media (min-width: var.$lg) {
                grid-template-columns: 2fr 10fr;
                gap: 4.8rem 12rem;
            }
        }

        &--results {
            &+.search-results-wrap--results {
                margin-top: 2.4rem;
            }

            ul {
                li {
                    &:nth-child(odd) {
                        .listing--search {
                            background: rgba(var.$grey, 0.6);
                        }
                    }
                    
                    &:nth-child(even) {
                        .listing--search {
                            background: rgba(var.$grey, 0.2);
                        }
                    }

                    &:hover,
                    &:focus-within {
                        .listing--search {
                            background: var.$accent;

                            .listing {
                                &-title > a,
                                &-description {
                                    color: var.$white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &-sidebar {
        &-list {
            li {
                display: flex;
                align-items: center;
                gap: .4rem;
                font-size: 1.8rem;

                + li {
                    margin-top: .8rem;
                }
            }
        }
    }
}