@use '../utils/variables' as var;

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var.$font-family;
    color: var.$black;
}

a {
    transition: var.$transition-fast;
    color: var.$accent;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
    text-decoration-color: var.$accent;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}