@use '../utils/variables' as var;
@use '../utils/mixins' as mix;

.button {
    cursor: pointer;
    background: none;
    border: none;
    display: inline-block;
    text-decoration: none;
    padding: .4rem 0;
    background-image: linear-gradient(transparent calc(100% - 2px), var.$accent 2px);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: var.$black;
    font-weight: var.$font-medium;

    &:hover,
    &:focus {
        background-size: 0 100%;
        color: var.$accent;
    }

    &.__animate {
        transition: 
            transform var.$transition-slow,
            background-size var.$transition-fast, 
            opacity var.$transition-slow,
            color var.$transition-fast;
    }

    &--icon {
        @extend .button;
        @include mix.setSVGStyles($width: 2.4rem, $height: 2.4rem, $color: var.$black);
        padding: 0;
        background: none;

        &:hover,
        &:focus {
            svg {
                fill: var.$accent;
            }
        }

        &.__active {
            @include mix.setSVGStyles($width: 2.4rem, $height: 2.4rem, $color: var.$white);

            &:hover,
            &:focus {
                svg {
                    fill: var.$accent;
                }
            }

            .light-icon {
                display: block;
            }

            .dark-icon {
                display: none;
            }
        }

        .light-icon {
            display: none;
        }
    }

    &--back {
        @extend .button;
        margin-bottom: 1rem;

        @media (min-width: var.$lg) {
            margin-bottom: 2.4rem;
        }
    }
}