@use '../utils/variables' as var;
@use '../utils/mixins' as mix;

.button {
    cursor: pointer;
    background: none;
    border: none;
    display: block;

    &--icon {
        padding: 0;
        @extend .button;
        @include mix.setSVGStyles($width: 2.4rem, $height: 2.4rem, $color: var.$black);

        &:hover,
        &:focus {
            svg {
                fill: var.$accent;
            }
        }

        &.__active {
            @include mix.setSVGStyles($width: 2.4rem, $height: 2.4rem, $color: var.$white);

            &:hover,
            &:focus {
                svg {
                    fill: var.$accent;
                }
            }

            .light-icon {
                display: block;
            }

            .dark-icon {
                display: none;
            }
        }

        .light-icon {
            display: none;
        }
    }

    &--back {
        @extend .button;
        margin-bottom: 1rem;

        @media (min-width: var.$lg) {
            margin-bottom: 2.4rem;
        }
    }
}