@use '../utils/variables' as var;
@use '../utils/mixins' as mix;

.listing {
    &+.listing {
        margin-top: 2.4rem;
    }

    &-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var.$accent;
        border-radius: 1.6rem;
        height: 100%;
        width: 100%;
        @include mix.setSVGStyles;
        @include mix.aspectRatio(9, 8);
    }

    &-image {
        @include mix.aspectRatio(9, 8);
    }

    &--blog {
        @extend .listing;

        .listing {
            
        }
    }
}