@use '../utils/variables' as var;
@use '../utils/mixins' as mix;
@use '../base/typography';
@use '../components/richtext';

.list {
    @include mix.sectionStyles;

    &--blog,
    &--projects {
        @extend .list;
    }

    &--projects {
        .list {
            &-wrap {
                @media (min-width: var.$lg) {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 2.4rem;
                }
            }
        }
    }
}

.listing {
    position: relative;
    transition: scale var.$transition-fast;

    &:hover,
    &:focus-within {
        .listing {
            &-icon svg {
                scale: 1.2;
            }

            &-image img {
                scale: 1.1;
            }

            &-title a {
                color: var.$accent;
            }
        }
    }

    &-image,
    &-icon {
        overflow: hidden;
        border-radius: var.$border-radius;
    }

    &-image {
        @include mix.imageWrap;
    }

    &-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var.$accent;
        @include mix.setSVGStyles;
    }

    &-content {
        color: rgba(var.$black, 0.8);
    }

    &-title {
        @extend .h4;
        @include mix.linkTitle;
        margin-bottom: 0;

        >a {
            color: var.$black;
            text-decoration: none;
        }
    }

    &-description {
        @extend .richtext;
        margin-bottom: 1.2rem;
        display: -webkit-box;
        line-clamp: 3;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &-date {
        color: var.$accent;
    }

    &-author {
        font-size: 1.4rem;
        font-weight: var.$font-medium;

        >span {
            color: var.$accent;
        }
    }

    &--blog {
        @extend .listing;
        display: grid;

        @media (min-width: var.$lg) {
            grid-template-columns: 24rem auto;
            gap: 2.4rem;
        }

        &+.listing {
            margin-top: 2.4rem;
        }

        .listing {
            &-image,
            &-icon {
                @include mix.aspectRatio(9, 8);
            }

            &-icon {
                height: 100%;
                width: 100%;
            }

            &-content {
                margin-top: 1.6rem;

                @media (min-width: var.$lg) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    height: 100%;
                    margin-top: 0;
                }
            }

            &-date {
                margin-bottom: .4rem;
            }
        }
    }

    &--project {
        @extend .listing;

        .listing {
            &-image,
            &-icon {
                @include mix.aspectRatio(14, 9);
            }

            &-content {
                margin-top: .8rem;
            }
        }
    }

    &--search {
        position: relative;
        padding: 2.4rem;
        transition: all var.$transition-fast;

        .listing {
            &-title {
                @extend .h5;

                >a {
                    transition: all 0s;
                }
            }
        }
    }
}