@use '../utils/variables' as var;
@use '../utils/mixins' as mix;
@use '../components/richtext';
@use '../components/about';

.role {
    @extend .about-item;

    &-title {
        line-height: 1;
        margin-bottom: .8rem;
        
        &:has(>a) {
            
            >a {
                color: var.$black;
                display: inline-flex;
                gap: .5rem;
                text-decoration-thickness: 2px;
                text-underline-offset: 2px;
                text-decoration-color: var.$accent;
                transition: 0s;
                @include mix.setSVGStyles($width: 1.2rem, $height: 1.2rem, $color: var.$accent);

                &:hover,
                &:focus {
                    color: var.$accent;
                }

                >svg {
                    transform: translateY(.2rem);
                }
            }
        }
    }

    &-name {
        font-weight: var.$font-medium;
        color: var.$accent;
    }

    &-content {
        @extend .richtext;
    }
}