@use '../utils/variables' as var;
@use '../base/typography';

.sidebar {
    &-title {
        @extend .h4;
    }

    &-list {
        &--contributors {
            @extend .sidebar-list;

            li {
                &+li {
                    margin-top: .8rem;
                }
            }
        }

        &+.sidebar-title {
            margin-top: 2.4rem;
        }
    }

    &-item {
        &+.sidebar-item {
            margin-top: .8rem;
        }

        >:first-child,
        >:last-child {
            font-weight: var.$font-medium;
        }

        >:last-child {
            display: block;
            color: var.$accent;
            margin-top: .3rem;
        }
    }
}