<?xml version="1.0" encoding="utf-8"?>
<Media Key="c7a36d64-bf37-4e86-9c69-41a9fa174957" Alias="Banners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Banners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-08-10T09:14:29</CreateDate>
    <NodeName Default="Banners" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>