<?xml version="1.0" encoding="utf-8"?>
<Media Key="22482a77-f893-40a3-b670-4310adb91d40" Alias="C Sharp C Icon 1822X2048 Wuf3ijab" Level="2">
  <Info>
    <Parent Key="6ad7e1f3-1bfb-441f-ab09-2799ad572644">Skills</Parent>
    <Path>/Skills/CSharpCIcon1822X2048Wuf3ijab</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-13T19:43:04</CreateDate>
    <NodeName Default="C Sharp C Icon 1822X2048 Wuf3ijab" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/oeveqiut/c-sharp-c-icon-1822x2048-wuf3ijab.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>