<?xml version="1.0" encoding="utf-8"?>
<Media Key="89cd9aca-836c-4012-a8fd-c71aa692bc9d" Alias="Django Logo Negative" Level="2">
  <Info>
    <Parent Key="6ad7e1f3-1bfb-441f-ab09-2799ad572644">Skills</Parent>
    <Path>/Skills/DjangoLogoNegative</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-12T20:05:13</CreateDate>
    <NodeName Default="Django Logo Negative" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zsnm1clm/django-logo-negative.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>