<?xml version="1.0" encoding="utf-8"?>
<Media Key="16b70ed9-2831-4240-9485-7795c6e300fa" Alias="Pedro Lastra Nyvq2juw4 O Unsplash" Level="2">
  <Info>
    <Parent Key="c7a36d64-bf37-4e86-9c69-41a9fa174957">Banners</Parent>
    <Path>/Banners/PedroLastraNyvq2juw4OUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-17T15:01:04</CreateDate>
    <NodeName Default="Pedro Lastra Nyvq2juw4 O Unsplash" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/12hlofrr/pedro-lastra-nyvq2juw4_o-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>