<?xml version="1.0" encoding="utf-8"?>
<Media Key="1845df99-325a-411d-921d-c564354e217a" Alias="Sebastian Unrau Sp P7uut0tw Unsplash" Level="2">
  <Info>
    <Parent Key="c7a36d64-bf37-4e86-9c69-41a9fa174957">Banners</Parent>
    <Path>/Banners/SebastianUnrauSpP7uut0twUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-12T19:26:13</CreateDate>
    <NodeName Default="Sebastian Unrau Sp P7uut0tw Unsplash" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/t5pfkgc0/sebastian-unrau-sp-p7uut0tw-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>