<?xml version="1.0" encoding="utf-8"?>
<Media Key="6ad7e1f3-1bfb-441f-ab09-2799ad572644" Alias="Skills" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Skills</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-08-11T19:14:27</CreateDate>
    <NodeName Default="Skills" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>