<?xml version="1.0" encoding="utf-8"?>
<Content Key="bf719f01-ba78-4a50-9c2b-963fe431cb0f" Alias="404 Error Page" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ErrorPage</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>errorPage404</ContentType>
    <CreateDate>2024-08-25T20:11:24</CreateDate>
    <NodeName Default="404 Error Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d4991427-f40b-4cee-8178-02f9a1b33b30">ErrorPage404</Template>
  </Info>
  <Properties>
    <bannerContent>
      <Value><![CDATA[]]></Value>
    </bannerContent>
    <bannerTitle>
      <Value><![CDATA[Testing]]></Value>
    </bannerTitle>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
  </Properties>
</Content>