<?xml version="1.0" encoding="utf-8"?>
<Content Key="539cb6bf-02e1-4303-9ebb-71612d5c2069" Alias="About" Level="2">
  <Info>
    <Parent Key="ff72ebd9-6e84-4163-aaa8-19b3279cbc36">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2024-08-11T12:26:09</CreateDate>
    <NodeName Default="About" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b4d36811-68fb-4a4d-987f-5d3f6d38e8dd">AboutPage</Template>
  </Info>
  <Properties>
    <bannerContent>
      <Value><![CDATA[{
  "markup": "<p>This is the about page.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bannerContent>
    <bannerTitle>
      <Value><![CDATA[About Me]]></Value>
    </bannerTitle>
    <employmentHistory>
      <Value><![CDATA[umb://document/8c96a7cb09864e639915271df88d32e9,umb://document/5a8ac555bf3c46c3a90d73977644ca92]]></Value>
    </employmentHistory>
    <employmentTitle>
      <Value><![CDATA[Employment history]]></Value>
    </employmentTitle>
    <hideFromListing>
      <Value><![CDATA[0]]></Value>
    </hideFromListing>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <metaAuthor>
      <Value><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <skills>
      <Value><![CDATA[umb://document/6bc0ba52157c401baf2a8c2294c99cf1,umb://document/19256a0f72f74cab9fac621dce701318]]></Value>
    </skills>
    <skillsTitle>
      <Value><![CDATA[Skills]]></Value>
    </skillsTitle>
  </Properties>
</Content>