<?xml version="1.0" encoding="utf-8"?>
<Content Key="19256a0f-72f7-4cab-9fac-621dce701318" Alias="Backend" Level="4">
  <Info>
    <Parent Key="870452e6-f5a0-4c74-9999-d206b0d36c8b">Skills</Parent>
    <Path>/Home/About/Skills/Backend</Path>
    <Trashed>false</Trashed>
    <ContentType>skillGroup</ContentType>
    <CreateDate>2024-08-11T19:11:30</CreateDate>
    <NodeName Default="Backend" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>