<?xml version="1.0" encoding="utf-8"?>
<Content Key="428b8b26-6ca6-49c9-81e9-3effae60fffd" Alias="Blog #2" Level="3">
  <Info>
    <Parent Key="d0bac0a4-1006-4eea-9bc6-aa0adc71b94f">Blog</Parent>
    <Path>/Home/Blog/Blog2</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPage</ContentType>
    <CreateDate>2024-08-10T11:40:38</CreateDate>
    <NodeName Default="Blog #2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2eb2cf57-7325-40a6-baf3-88996b356b70">BlogPage</Template>
  </Info>
  <Properties>
    <blogAuthor>
      <Value><![CDATA[]]></Value>
    </blogAuthor>
    <blogImage>
      <Value><![CDATA[[]]]></Value>
    </blogImage>
    <blogSubtitle>
      <Value><![CDATA[]]></Value>
    </blogSubtitle>
    <blogTitle>
      <Value><![CDATA[The first blog (the sequel)]]></Value>
    </blogTitle>
    <content>
      <Value><![CDATA[{
  "markup": "<p>This is the second blog post.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </content>
    <hideFromListing>
      <Value><![CDATA[0]]></Value>
    </hideFromListing>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <listingDescription>
      <Value><![CDATA[]]></Value>
    </listingDescription>
    <metaAuthor>
      <Value><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <relatedBlogs>
      <Value><![CDATA[]]></Value>
    </relatedBlogs>
    <sidebarTitle>
      <Value><![CDATA[]]></Value>
    </sidebarTitle>
  </Properties>
</Content>