<?xml version="1.0" encoding="utf-8"?>
<Content Key="d0bac0a4-1006-4eea-9bc6-aa0adc71b94f" Alias="Blog" Level="2">
  <Info>
    <Parent Key="ff72ebd9-6e84-4163-aaa8-19b3279cbc36">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blogListing</ContentType>
    <CreateDate>2024-08-10T11:38:59</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="37815733-e791-4905-8b64-7727eae3aaf7">BlogListing</Template>
  </Info>
  <Properties>
    <bannerContent>
      <Value><![CDATA[{
  "markup": "<p>This is the blog listing page. Here you can find all of the blogs I have created.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bannerContent>
    <bannerTitle>
      <Value><![CDATA[Blog]]></Value>
    </bannerTitle>
  </Properties>
</Content>