<?xml version="1.0" encoding="utf-8"?>
<Content Key="7b5d79bd-efcf-4d7c-96b5-f089d2edef7e" Alias="C#" Level="5">
  <Info>
    <Parent Key="19256a0f-72f7-4cab-9fac-621dce701318">Backend</Parent>
    <Path>/Home/About/Skills/Backend/C</Path>
    <Trashed>false</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2024-08-13T19:43:07</CreateDate>
    <NodeName Default="C#" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <skillIcon>
      <Value><![CDATA[[
  {
    "key": "f4886bab-39e6-4053-a9a7-f0315432a494",
    "mediaKey": "22482a77-f893-40a3-b670-4310adb91d40"
  }
]]]></Value>
    </skillIcon>
    <skillIsVisible>
      <Value><![CDATA[1]]></Value>
    </skillIsVisible>
    <skillTitle>
      <Value><![CDATA[C#]]></Value>
    </skillTitle>
  </Properties>
</Content>