<?xml version="1.0" encoding="utf-8"?>
<Content Key="a0e9d5d0-601e-42ca-866e-e5695380814e" Alias="Contributor #1" Level="3">
  <Info>
    <Parent Key="4ad4954d-971c-47d6-8e2e-d9f5d0975ba5">Contributors</Parent>
    <Path>/Home/Contributors/Contributor1</Path>
    <Trashed>false</Trashed>
    <ContentType>contributor</ContentType>
    <CreateDate>2024-08-19T18:42:02</CreateDate>
    <NodeName Default="Contributor #1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contributorName>
      <Value><![CDATA[The First Contributor]]></Value>
    </contributorName>
    <contributorUrl>
      <Value><![CDATA[https://www.google.com]]></Value>
    </contributorUrl>
  </Properties>
</Content>