<?xml version="1.0" encoding="utf-8"?>
<Content Key="4ad4954d-971c-47d6-8e2e-d9f5d0975ba5" Alias="Contributors" Level="2">
  <Info>
    <Parent Key="ff72ebd9-6e84-4163-aaa8-19b3279cbc36">Home</Parent>
    <Path>/Home/Contributors</Path>
    <Trashed>false</Trashed>
    <ContentType>contributorListing</ContentType>
    <CreateDate>2024-08-19T18:41:29</CreateDate>
    <NodeName Default="Contributors" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>