<?xml version="1.0" encoding="utf-8"?>
<Content Key="bd47d469-df05-4fd4-be62-56e171f3d930" Alias="Contributor #2" Level="3">
  <Info>
    <Parent Key="4ad4954d-971c-47d6-8e2e-d9f5d0975ba5">Contributors</Parent>
    <Path>/Home/Contributors/Contributor2</Path>
    <Trashed>false</Trashed>
    <ContentType>contributor</ContentType>
    <CreateDate>2024-08-19T18:44:04</CreateDate>
    <NodeName Default="Contributor #2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contributorName>
      <Value><![CDATA[Number two (no URL)]]></Value>
    </contributorName>
    <contributorUrl>
      <Value><![CDATA[]]></Value>
    </contributorUrl>
  </Properties>
</Content>