<?xml version="1.0" encoding="utf-8"?>
<Content Key="4390f7e5-0392-40e3-92c1-e4abebd96584" Alias="Design" Level="4">
  <Info>
    <Parent Key="870452e6-f5a0-4c74-9999-d206b0d36c8b">Skills</Parent>
    <Path>/Home/About/Skills/Design</Path>
    <Trashed>false</Trashed>
    <ContentType>skillGroup</ContentType>
    <CreateDate>2024-08-11T19:11:36</CreateDate>
    <NodeName Default="Design" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>