<?xml version="1.0" encoding="utf-8"?>
<Content Key="6f11f49f-aae1-4ece-ac92-09ae88c1af15" Alias="Django" Level="5">
  <Info>
    <Parent Key="19256a0f-72f7-4cab-9fac-621dce701318">Backend</Parent>
    <Path>/Home/About/Skills/Backend/Django</Path>
    <Trashed>false</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2024-08-11T19:16:41</CreateDate>
    <NodeName Default="Django" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <skillIcon>
      <Value><![CDATA[[
  {
    "key": "10ff4066-fba6-4086-ba09-d5878ad817a2",
    "mediaKey": "89cd9aca-836c-4012-a8fd-c71aa692bc9d"
  }
]]]></Value>
    </skillIcon>
    <skillIsVisible>
      <Value><![CDATA[1]]></Value>
    </skillIsVisible>
    <skillTitle>
      <Value><![CDATA[Django]]></Value>
    </skillTitle>
  </Properties>
</Content>