<?xml version="1.0" encoding="utf-8"?>
<Content Key="3b016acb-02de-4d6f-8db5-b31d02d04e41" Alias="Employment History" Level="3">
  <Info>
    <Parent Key="539cb6bf-02e1-4303-9ebb-71612d5c2069">About</Parent>
    <Path>/Home/About/EmploymentHistory</Path>
    <Trashed>false</Trashed>
    <ContentType>employment</ContentType>
    <CreateDate>2024-08-11T12:26:22</CreateDate>
    <NodeName Default="Employment History" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>