<?xml version="1.0" encoding="utf-8"?>
<Content Key="6bc0ba52-157c-401b-af2a-8c2294c99cf1" Alias="Frontend" Level="4">
  <Info>
    <Parent Key="870452e6-f5a0-4c74-9999-d206b0d36c8b">Skills</Parent>
    <Path>/Home/About/Skills/Frontend</Path>
    <Trashed>false</Trashed>
    <ContentType>skillGroup</ContentType>
    <CreateDate>2024-08-11T19:11:23</CreateDate>
    <NodeName Default="Frontend" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>