<?xml version="1.0" encoding="utf-8"?>
<Content Key="ff72ebd9-6e84-4163-aaa8-19b3279cbc36" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-08-05T19:06:20</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8525fbfa-ea23-4f0f-b394-c34dc4732723">HomePage</Template>
  </Info>
  <Properties>
    <allBlogsLink>
      <Value><![CDATA[[
  {
    "udi": "umb://document/d0bac0a410064eea9bc6aa0adc71b94f"
  }
]]]></Value>
    </allBlogsLink>
    <bannerContent>
      <Value><![CDATA[{
  "markup": "<p>This is some homepage banner context, for testing purposes. I have added some additional text to this sentence to test what it looks like when it breaks over multiple lines. If I wanted to test it really thoroughly, I would make this paragraph even longer to see what that looks like.</p>\n<p>It also has a <a href=\"https://www.google.com\">link</a></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bannerContent>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "4ef51707-6082-44ac-8887-856e708d03b7",
    "mediaKey": "1845df99-325a-411d-921d-c564354e217a"
  }
]]]></Value>
    </bannerImage>
    <bannerTitle>
      <Value><![CDATA[This is the homepage]]></Value>
    </bannerTitle>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <featuredBlogs>
      <Value><![CDATA[umb://document/7cf6cd47e9e64b009eccbee5a20bb21b,umb://document/428b8b266ca649c981e93effae60fffd]]></Value>
    </featuredBlogs>
    <featuredBlogsTitle>
      <Value><![CDATA[Writing]]></Value>
    </featuredBlogsTitle>
    <hideFromListing>
      <Value><![CDATA[0]]></Value>
    </hideFromListing>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <metaAuthor>
      <Value><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value><![CDATA[The personal website of Sawyl]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
  </Properties>
</Content>