<?xml version="1.0" encoding="utf-8"?>
<Content Key="bcfcc1b8-7cd5-4342-bed7-2b927e733610" Alias="HTML5" Level="5">
  <Info>
    <Parent Key="6bc0ba52-157c-401b-af2a-8c2294c99cf1">Frontend</Parent>
    <Path>/Home/About/Skills/Frontend/HTML5</Path>
    <Trashed>false</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2024-08-11T19:15:04</CreateDate>
    <NodeName Default="HTML5" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <skillIcon>
      <Value><![CDATA[[
  {
    "key": "df0a10fc-6e13-44bc-9f94-36640b0d866a",
    "mediaKey": "7ed6ef53-0a9c-437d-873b-fbbd1f6e865c"
  }
]]]></Value>
    </skillIcon>
    <skillIsVisible>
      <Value><![CDATA[1]]></Value>
    </skillIsVisible>
    <skillTitle>
      <Value><![CDATA[HTML5]]></Value>
    </skillTitle>
  </Properties>
</Content>