<?xml version="1.0" encoding="utf-8"?>
<Content Key="6876eef7-05de-4d07-a69b-deca1847cda2" Alias="Misc" Level="4">
  <Info>
    <Parent Key="870452e6-f5a0-4c74-9999-d206b0d36c8b">Skills</Parent>
    <Path>/Home/About/Skills/Misc</Path>
    <Trashed>false</Trashed>
    <ContentType>skillGroup</ContentType>
    <CreateDate>2024-08-11T19:11:46</CreateDate>
    <NodeName Default="Misc" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>