<?xml version="1.0" encoding="utf-8"?>
<Content Key="d6b9f1f8-38e4-49f9-aab1-5275cedc24f5" Alias="Page Tags" Level="3">
  <Info>
    <Parent Key="6e5213fb-cdba-4a5f-b89d-6f8d94e997d5">Site Settings</Parent>
    <Path>/Home/SiteSettings/PageTags</Path>
    <Trashed>false</Trashed>
    <ContentType>pageTags</ContentType>
    <CreateDate>2024-08-06T10:15:57</CreateDate>
    <NodeName Default="Page Tags" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>