<?xml version="1.0" encoding="utf-8"?>
<Content Key="30c00408-619f-45cb-803f-7f8cdb8c1591" Alias="Page not found" Level="2">
  <Info>
    <Parent Key="ff72ebd9-6e84-4163-aaa8-19b3279cbc36">Home</Parent>
    <Path>/Home/PageNotFound</Path>
    <Trashed>false</Trashed>
    <ContentType>errorPage404</ContentType>
    <CreateDate>2024-08-25T20:12:35</CreateDate>
    <NodeName Default="Page not found" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d4991427-f40b-4cee-8178-02f9a1b33b30">ErrorPage404</Template>
  </Info>
  <Properties>
    <bannerContent>
      <Value><![CDATA[{
  "markup": "<p>It looks like something has gone wrong...</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bannerContent>
    <bannerTitle>
      <Value><![CDATA[Error!]]></Value>
    </bannerTitle>
    <content>
      <Value><![CDATA[{
  "markup": "<h3>This is some helper text</h3>\n<p>With some smaller text below it.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </content>
    <links>
      <Value><![CDATA[umb://document/539cb6bf02e143039ebb71612d5c2069,umb://document/d0bac0a410064eea9bc6aa0adc71b94f,umb://document/cb606f94220944eb92e070cc5562cb28]]></Value>
    </links>
    <linksTitle>
      <Value><![CDATA[]]></Value>
    </linksTitle>
  </Properties>
</Content>