<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb606f94-2209-44eb-92e0-70cc5562cb28" Alias="Projects" Level="2">
  <Info>
    <Parent Key="ff72ebd9-6e84-4163-aaa8-19b3279cbc36">Home</Parent>
    <Path>/Home/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectListing</ContentType>
    <CreateDate>2024-08-17T14:38:42</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b9e9ba30-108d-4d9e-b296-82c327e03af3">ProjectListing</Template>
  </Info>
  <Properties>
    <bannerContent>
      <Value><![CDATA[{
  "markup": "<p>This is the project listing page. Here you can find all of the projects I have to offer!</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bannerContent>
    <bannerTitle>
      <Value><![CDATA[Projects]]></Value>
    </bannerTitle>
    <hideFromListing>
      <Value><![CDATA[0]]></Value>
    </hideFromListing>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <metaAuthor>
      <Value><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
  </Properties>
</Content>