<?xml version="1.0" encoding="utf-8"?>
<Content Key="200c2261-600b-45d7-839b-597c8e942080" Alias="Search Page" Level="2">
  <Info>
    <Parent Key="ff72ebd9-6e84-4163-aaa8-19b3279cbc36">Home</Parent>
    <Path>/Home/SearchPage</Path>
    <Trashed>false</Trashed>
    <ContentType>searchPage</ContentType>
    <CreateDate>2024-08-27T08:48:24</CreateDate>
    <NodeName Default="Search Page" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="001225cb-a929-4669-af84-e73954ad5480">SearchPage</Template>
  </Info>
  <Properties>
    <bannerContent>
      <Value><![CDATA[{
  "markup": "<p>This is the search page, it has the search results.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bannerContent>
    <bannerTitle>
      <Value><![CDATA[Search page]]></Value>
    </bannerTitle>
    <hideFromListing>
      <Value><![CDATA[0]]></Value>
    </hideFromListing>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <metaAuthor>
      <Value><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
  </Properties>
</Content>