<?xml version="1.0" encoding="utf-8"?>
<Content Key="6e5213fb-cdba-4a5f-b89d-6f8d94e997d5" Alias="Site Settings" Level="2">
  <Info>
    <Parent Key="ff72ebd9-6e84-4163-aaa8-19b3279cbc36">Home</Parent>
    <Path>/Home/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2024-08-06T10:11:52</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <emailLink>
      <Value><![CDATA[samueljamesforrestweb@gmail.com]]></Value>
    </emailLink>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "udi": "umb://document/ff72ebd96e844163aaa819b3279cbc36"
  },
  {
    "udi": "umb://document/539cb6bf02e143039ebb71612d5c2069"
  },
  {
    "udi": "umb://document/d0bac0a410064eea9bc6aa0adc71b94f"
  },
  {
    "udi": "umb://document/cb606f94220944eb92e070cc5562cb28"
  }
]]]></Value>
    </mainNavigation>
    <mastadonLink>
      <Value><![CDATA[https://umbracocommunity.social/@samueljamesforrest]]></Value>
    </mastadonLink>
    <siteName>
      <Value><![CDATA[Sam Forrest]]></Value>
    </siteName>
    <siteSubtitle>
      <Value><![CDATA[This is a tester subtitle.]]></Value>
    </siteSubtitle>
    <twitterLink>
      <Value><![CDATA[https://x.com/sawyl_coedwig]]></Value>
    </twitterLink>
  </Properties>
</Content>