<?xml version="1.0" encoding="utf-8"?>
<Content Key="870452e6-f5a0-4c74-9999-d206b0d36c8b" Alias="Skills" Level="3">
  <Info>
    <Parent Key="539cb6bf-02e1-4303-9ebb-71612d5c2069">About</Parent>
    <Path>/Home/About/Skills</Path>
    <Trashed>false</Trashed>
    <ContentType>skills</ContentType>
    <CreateDate>2024-08-11T19:09:44</CreateDate>
    <NodeName Default="Skills" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>