<?xml version="1.0" encoding="utf-8"?>
<Content Key="9bc9472f-c383-4e7a-a469-f56950300213" Alias="Testy McTestface" Level="3">
  <Info>
    <Parent Key="4ad4954d-971c-47d6-8e2e-d9f5d0975ba5">Contributors</Parent>
    <Path>/Home/Contributors/TestyMcTestface</Path>
    <Trashed>false</Trashed>
    <ContentType>contributor</ContentType>
    <CreateDate>2024-08-19T18:45:48</CreateDate>
    <NodeName Default="Testy McTestface" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contributorName>
      <Value><![CDATA[]]></Value>
    </contributorName>
    <contributorUrl>
      <Value><![CDATA[https://www.google.com]]></Value>
    </contributorUrl>
  </Properties>
</Content>