<?xml version="1.0" encoding="utf-8"?>
<Content Key="2133dc1d-c2e5-4f97-a084-dc7d8089bdfc" Alias="TypeScript" Level="5">
  <Info>
    <Parent Key="6bc0ba52-157c-401b-af2a-8c2294c99cf1">Frontend</Parent>
    <Path>/Home/About/Skills/Frontend/TypeScript</Path>
    <Trashed>false</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2024-08-13T19:28:35</CreateDate>
    <NodeName Default="TypeScript" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <skillIcon>
      <Value><![CDATA[[
  {
    "key": "2c63453a-8123-4497-97b5-c5449cf0062b",
    "mediaKey": "3a723a01-fe35-49f5-b006-96fd7664d345"
  }
]]]></Value>
    </skillIcon>
    <skillIsVisible>
      <Value><![CDATA[1]]></Value>
    </skillIsVisible>
    <skillTitle>
      <Value><![CDATA[TypeScript]]></Value>
    </skillTitle>
  </Properties>
</Content>