@inherits UmbracoViewPage<IBannerProperties>

@{
    string pageName = String.Empty;
    string bannerModifier = "banner";

    if (Model is IPublishedContent publishedContent)
    {
        pageName = publishedContent.Name;
    }

    if (Model is ErrorPage404 errorPage)
    {
        bannerModifier = "banner--error";
    }
}

<section class="@bannerModifier">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <h1 class="banner-title __animateleft">@(!string.IsNullOrWhiteSpace(Model.BannerTitle) ? Model.BannerTitle : pageName)</h1>

                @if (Model.BannerContent != null)
                {
                    <div class="banner-content __animateleft">
                        @Model.BannerContent
                    </div>
                }
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
</section>